* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 100px;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.bg {
  transform: translateZ(-200px) scale(3);
}
.layer4 {
  transform: translateZ(-150px) scale(2.5);
}
.layer3 {
  transform: translateZ(-100px) scale(2);
}
.layer2 {
  transform: translateZ(-50px) scale(1.5);
}
.layer1 {
  transform: translateZ(-10px) scale(1.1);
}

.bg,
.layer4,
.layer3,
.layer2,
.layer1 {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.title {
  font-size: 7rem;
  color: #ededed;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

section {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.8rem;
  padding: 5rem;
  background-color: #333;
  color: #ededed;
}

footer {
  font-family: "Courier New", Courier, monospace;
  padding: 2rem;
  display: flex;
  align-items: center;
  background-color: #ededed;
  color: #333;
  height: 10vh;
}
